<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Tittle }}</title>
    <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>
<body>
    <nav>
        <a href="/logout"> logout</a>
    </nav>
    <main>
        <h1>{{ .Tittle }}</h1>
        {{ if .DisplayForm }}
        <div id="update-form">
            <form method="POST">
                <textarea name="update"></textarea>
                <div>
                    <button type="submit">Post updates</button>
                </div>
            </form>
        </div>
        {{ end }}           <!-- App is gonna be terminated if using "endif" here  -->
        {{ range .Updates }}
        <div class="update">
            <div>
                <strong><a href="{{ .GetUser.GetUserName }}"> {{ .GetUser.GetUserName }}</a> wrote: </strong> 
            </div>  
            <div>{{ .GetBody }}</div>
        </div>
        {{ end }}
    </main>
</body>
</html>