<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Tittle }}</title>
    <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>
<body>
    <h1>{{ .Tittle }}</h1>
    <form method="POST">
        <textarea name="update"></textarea>
        <div>
            <button type="submit">Post updates</button>
        </div>
    </form>
    {{ range .Updates }}
    <div>
        <div>
            <strong> {{ .GetUser.GetUserName }} wrote: </strong> 
        </div>  
        <div>{{ .GetBody }}</div>
    </div>
    {{ end }}
</body>
</html>